extends layout.pug

include utils.pug

block content

  h2 My Account

  img(src=`${locals.user.profilePicLink}` alt="User profile image")
  form(action='/account' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Bio', 'bio', locals.user.bio, 'textarea')
    +field('Link to Profile Image', 'profilePicLink', locals.user.profilePicLink, 'text')
    div
      button(type='submit') Update
