doctype html
html(lang="en")
  block head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/main.css")
    title ketchup

  body
    .container
      .header
        .header__logo-container
          img(src="tomato.png" style="height: 1.75em;padding-right:5px")
          a(href='/').header__logo ketchup
        .header__search
          form(action="/search" method="post")
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type="search" id="search" name="q" placeholder="Search Shows" size="40" style="height:30px" required)
        .header__actions
          if locals.authenticated
            form(action='/logout' method='post')
              button(type='submit').header__logout-btn Log Out
              a(href='/account').header__account-btn Account
          else
            span
              a(href='/login').header__login-btn Log In
              a(href='/register').header__register-btn Register


      .sidebar
        if locals.authenticated
          .sidebar__profile-pic-container
            if user.profilePicLink
              img(src=`${user.profilePicLink}` alt="User profile picture").sidebar__profile-pic
            else
              img(src="profile.png" alt="User profile picture").sidebar__profile-pic
          .sidebar__username
            p= user.userName
          .sidebar__bio
            p= user.bio
        else
          form(action='/login-demo' method='post')
            button(type='submit').sidebar__demo-btn Demo

      .main
        block content
