//- ./views/user-login.pug

extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  form(action='/login' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Email Address', 'email', email, 'text', 'form-control login__email-input')
    +field('Password', 'password', null, 'password', 'form-control login__password-input')
    div
      button(type='submit').login__login-btn Login
      a(href='/').login__cancel-btn Cancel
