body {
  font-family:Arial, Helvetica, sans-serif;
}

h1 {
  margin: 5px;
  padding: 10px;
}
.account-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: left;
}
.account-form {
  padding: 10px;
  /**border-bottom: 1px solid lightgray;**/
  border-radius: 5px;
  margin: 5px;
}

.account-label {
  margin-right: 5px;
  margin-top: 5px;
}
.account-button {
  margin-top: 10px;
}
.account-input {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgb(216, 216, 216);
  font-size: 16px;
  width: 300px;
  display: block;
  margin: 10px 0;
}

.account-button {
  border: 1px solid rgb(224, 224, 224);
  background-color: white;
  border-radius: 5px;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s;
  display: inline-block;
  margin: 10px 10px 10px 0;
}

.account-button:hover {
  background-color: rgb(224, 224, 224);
  color: rgb(39, 39, 39);
}

.account-button:active {
  transform: translateY(2px);
}
