.show-card {
    border-bottom: 1px solid rgb(216, 216, 216);
    display: flex;
    flex-direction: row;
    padding: 15px;
    text-decoration: none;
}

.show-card:hover {
    background-color: rgb(240, 240, 240);
}

.show-card__poster {
    width: 150px;
    flex-grow: 1;
}

.show-card__details {
    padding: 0 10px;
    flex-grow: 3;
}

.show-card__title {
    font-weight: bold;
    font-size: 16px;
}
